name: CI/CD Pipeline - P2

on:
  push:
    branches: [develop, main]
  pull_request:
    branches: [develop, main]

jobs:
  security-check:
    name: Build, Test & SAST
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do código
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Instalar Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Instalar dependências
        run: npm install

      - name: Executar Testes
        run: npm test || true

      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

  build-docker:
    name: Build Docker Image
    needs: security-check
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do código
        uses: actions/checkout@v3

      - name: Build da Imagem Docker
        run: docker build -t projeto-p2-backend:latest .

      - name: Verificar Imagem
        run: docker images
